In [82]:
from time import sleep
from selenium import webdriver
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
# import matplotlib.pyplot as plt
# %pylab inline
import numpy as np
import pandas as pd

In [83]:
driver = webdriver.Chrome('/Users/pujawardani/Documents/chromedriver')
driver.get('https://www.traveloka.com/id-id/hotel/indonesia/hotel-tentrem-yogyakarta-409746?spec=12-08-2021.13-08-2021.1.1.HOTEL.409746.Hotel%20Tentrem%20Yogyakarta.1')

In [84]:
# comments = pd.DataFrame(columns = ['review'])
review = driver.find_elements_by_xpath('//div[@class="css-1dbjc4n"]')

review_list = []
for r in range(len(review)):
    review_list.append(review[r].text)
    
comments = pd.DataFrame(review_list,columns=['review'])

In [79]:
print(comments)

                                               review
0                         Pravangesta A. A.\n0 Review
1   Pelayanannya baik sekali. Kamar mewah. Sayang ...
2
3
4   Bapak Pravangesta yang terhormat\n\nSalam hang...
..                                                ...
74
75
76
77
78

[79 rows x 1 columns]

In [81]:
def remove_space(s):
    return s.replace("\n"," ")

# comments_copy['comments'] = comments_copy['comments'].apply(remove_space)
comments.to_csv('comments.csv', header=True, sep=',')